body {
    height: 100vh;
    background-color: #000000;
    margin: 0;
}

div#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#game {
    width: 200px;
    height: 500px;
    background-color: #ffffff;
}

canvas {
    background-color: #ffffff;
    border-left: 5px solid #f2f2f2;
}

/* Components */
form.login {
    margin: 30px;
}

li.player {
    display: flex;
}

li.player > span:nth-last-child(1) {
    margin-left: auto;
    margin-right: 15px;
}

li.player > span:nth-child(1) {
    margin-left: 15px;
}

li.player > span {
    margin-bottom: 5px;
}

div.display-end {
    width:500px;
    height:500px;
    font-size: 50px;
    background-color: #ffffff;
    border-left: 5px solid #f2f2f2;
}


/* Utility stylings */

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}
